## 1. 변수의 정의 : 임시 기억(저장) 공간


## 2. 변수의 특징
  + 묵시적 선언
  + 동적 바인딩
  + immutable (불변성)

In [10]:
a = 10
print(a)

a = 11
print(a)

a = "가나다"
print(a)

a = 3.14
print(a)

a = True
print(a)

10
11
가나다
3.14
True

## 3. Data Type

* 종류
    1. 기본 자료형
        * int
        * float
        * str
        * bool
              
    2. 집합 자료형
        * list
        * tuple
        * dict
        * set

---

#### (1)  str

In [13]:
# 문자열 저장

a = 10
type(a)

a = '10'
type(a)

a = "안녕하세요"

a = """안녕하세요. 
    저는 홍길동 입니다. 
    안녕히 계세요"""
print(a)

안녕하세요.
    저는 홍길동 입니다.
    안녕히 계세요

In [21]:
##### 특수 문자(제어 문자) : \문자, \ (escape 문자)

a = "이것은 파이썬입니다. \\n\\n\\n열심히 공부합시다."
print(a)

b = "현재 시간은 \t\t\t\t9시 입니다."
print(b)

# "\t는 탭키의 역할이다."
print("\"\\t는 탭키의 역할이다.\"")

이것은 파이썬입니다. \n\n\n열심히 공부합시다.
현재 시간은 				9시 입니다.
"\t는 탭키의 역할이다."

In [26]:
# \를 줄바꿈의 용도로 사용

a = "10 + 2 - 3 + 5 \
+ 6 * 7"
print(a)

10 + 2 - 3 + 5 + 6 * 7

In [33]:
# 문자열을 연결하기

a = "python"
b = " is fun"
c = " and great"

d = a,b,c
print(d)

e = a + b + c
print(e)

('python', ' is fun', ' and great')
python is fun and great

In [34]:
# 문자열 곱하기(반복)
print(a * 3)

pythonpythonpython

In [36]:
# 문자열의 길이
print(len(a))
print(len(b))
print(len(c))

6
7
10

In [43]:
# 인덱싱(Indexing) : 원하는 문자에 접근할 수 있는 방법 제공

a = "Life is too short, You need python"
print(a[3])
print(a[10])
print(a[-1])
print(a[-2])
print(a[len(a)-1])

e
o
n
o
n

In [51]:
# 슬라이싱(Slicing) : [시작위치 : 끝위치]

print(a[0:6])
print(a[:6])
print(a[6:])
print(a[:])
print(a[19 : -7])

Life i
Life i
s too short, You need python
Life is too short, You need python
You need

In [54]:
# step : [시작위치 : 끝위치 : 간격]

print(a[::1])
print(a[::2])
print(a[::-1])

Life is too short, You need python
Lf stosot o edpto
nohtyp deen uoY ,trohs oot si efiL

In [59]:
### 수정 불가

a = "pithon"
# a[1] = 'y'

a = a[:1] + 'y' + a[2:]
print(a)

python

In [7]:
### 문자열 관련 함수

# count()
str1 = "홍길동, 홍경래, 홍장군, 입경업, 신돌석"
print(len(str1))
print(str1.count("홍"))
print("-------------------------------------------")

# join()
str1 = "abcdefg"
print(",".join(str1))
print("-------------------------------------------")

# split()
str1 = "홍길동:홍경래:홍장군:입경업:신돌석"
print(str1.split(":"))
print("-------------------------------------------")

# find(), index()
print(str1.find("길"), str1.find("돌"), str1.find("별"))
print(str1.index("길"), str1.index("돌"))
print("-------------------------------------------")

# lstrip(), rstrip(), strip()
a = "           python"
print(a)
print(a.lstrip())

a = ",.python"
print(a.lstrip(",."))
print("-------------------------------------------")

# replace(), [maketrans(), translate()]
a = "Hello, World!"
print(a.replace("World", "Python"))

a = "일이삼사오육칠팔구"
print(a.replace("일삼오", "135"))
print(a.translate(a.maketrans("일삼오", "135")))

23
3
-------------------------------------------
a,b,c,d,e,f,g
-------------------------------------------
['홍길동', '홍경래', '홍장군', '입경업', '신돌석']
-------------------------------------------
1 17 -1
1 17
-------------------------------------------
           python
python
python
-------------------------------------------
Hello, Python!
일이삼사오육칠팔구
1이3사5육칠팔구

In [25]:
### 문자열 포맷팅

# %를 이용한 방법 #
print("현재 온도는 18도입니다.")
print("현재 온도는 %d도입니다.그리고 오늘의 날씨는 %s 입니다." % (18, "맑음"))

# 나눗셈의 결과 : 3 / 5 = 0.6 입니다.
print("%-5s의 결과  %d %c %d = %0.2f 입니다." %("나눗셈", 3, "/", 5, 3/5))

# format()를 이용한 방법 #
print("{}의 결과 : {} {} {} = {} 입니다.".format("나눗셈", 3, "/", 5, 3/5))
print("{3}의 결과 : {0} {1} {2} = {4} 입니다.".format(3, "/", 5, "나눗셈", 3/5))
print("{title}의 결과 : {num1} {op} {num2} = {result} 입니다.".format(
    num1=3, op="/", num2=5, result=3/5, title="나눗셈"))
print("{3:*^10}의 결과 : {0} / {1} = {2:5.2f} 입니다.".format(3, 5, 3/5, "나눗셈"))

현재 온도는 18도입니다.
현재 온도는 18도입니다.그리고 오늘의 날씨는 맑음 입니다.
나눗셈  의 결과  3 / 5 = 0.60 입니다.
나눗셈의 결과 : 3 / 5 = 0.6 입니다.
나눗셈의 결과 : 3 / 5 = 0.6 입니다.
나눗셈의 결과 : 3 / 5 = 0.6 입니다.
***나눗셈****의 결과 : 3 / 5 =  0.60 입니다.

#### (2)  bool

In [37]:
print(bool(10), bool(3.14), bool(0), bool(-2))
print(bool('가'), bool("가나다"), bool(''), bool(None), bool(' '))

a = True
print(type(a))

True True False True
True True False False True
<class 'bool'>

---
#### (3) list

* '[ ]' 사용
* 임의의 객체를 순차적으로 저장하는 집합적 자료형(Sequence Data)
* 인덱스 사용
* mutable(변경 가능)

In [43]:
#a = 10
#b = 11
#c = 12

a, b, c = 10, 11, 12

d = [10, 11, 12]

print(type(a), type(d))
print(a, d)
print(d[0], d[1], d[2])

e = ["james", 178, 3.14, True]
e[1] = 180
print(e)

<class 'int'> <class 'list'>
10 [10, 11, 12]
10 11 12
['james', 180, 3.14, True]

In [48]:
### Indexing

a = [1, 2, 3, "가", 3.14, ["a", "b", "c"]]
print(a)
print(a[5])
print(a[5][0])
print(a[-1][-2])

[1, 2, 3, '가', 3.14, ['a', 'b', 'c']]
['a', 'b', 'c']
a
b

In [50]:
### 복사 (얕은 복사, 깊은 복사)

a = [1, 2, 3, 4, 5]
b = a
b[0] = 10
print(a)
print(b)

print("-------------------------------")

a = [1, 2, 3, 4, 5]
# b = a[0:5]
b = a[:]

b[0] = 10
print(a)
print(b)

[10, 2, 3, 4, 5]
[10, 2, 3, 4, 5]
-------------------------------
[1, 2, 3, 4, 5]
[10, 2, 3, 4, 5]

In [75]:
### list 생성
a = []
a = list()
a = [1, 2, 3]
print(type(a))

print("--------------------------------")

#  각 자료형 함수(참고)
a = '10'
print(type(int(a)), int(a))
print(type(str(a)), str(a))
print(type(float(a)), float(a))
print(type(bool(a)), bool(a))

print(type(list(a)), list(a))
print(type(list([a])), list([a]))

print("--------------------------------")

# 초기화 방법

a = list([0, 1, 2, 3])
print(a)

a = list(range(10)) # range(0, 10), range(0, 10, 1)
print(a)

a = list(range(5, 12))
print(a)

a = list(range(5, 12, 2))
print(a)

a = list(range(-4, 12, 1))
print(a)

# 10 9 8 7 6 5 4 3 2 1 
a = list(range(10, 0, -1))
print(a)

<class 'list'>
--------------------------------
<class 'int'> 10
<class 'str'> 10
<class 'float'> 10.0
<class 'bool'> True
<class 'list'> ['1', '0']
<class 'list'> ['10']
--------------------------------
[0, 1, 2, 3]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9, 10, 11]
[5, 7, 9, 11]
[-4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [79]:
### 연산 가능

a = [1, 2, 3]
b = [4, 5, 6]

print(a + b)
print(a * 3)
print(str(a[1]) + " hi")

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
2 hi

In [87]:
### 추가하기 : insert(), append(), extend()

a = [1, 2, 3]
print(a)

a.insert(0, 0)
print(a)

a.append(4)
print(a)

a.extend([5])
print(a)

a.extend([6, 7, 8])
print(a)

a.append([9, 10, 11])
print(a)

[1, 2, 3]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, [9, 10, 11]]

In [102]:
### 정렬

a = [1, 4, 3, 2]
a.sort()
print(a)

#print(sorted(a))
#print(a)

#a = sorted(a)
#print(a)

a.reverse()
print(a)

[1, 2, 3, 4]
[4, 3, 2, 1]

In [103]:
### 제거

# 범위를 지정해서 삭제
a = [1, 2, 3, 1, 2, 3]
a[1:3] = []
print(a)

# 값을 찾아서 삭제
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
print(a)

# 위치를 찾아서 삭제
del a[4]
print(a)

# 전체 데이터 삭제
a = [1, 2, 3, 1, 2, 3]
a[:] = []
print(a)

a = [1, 2, 3, 1, 2, 3]
del a
#print(a)

# stack
a = [1, 2, 3]
b = a.pop()
print(a, b)

b = a.pop()
print(a, b)

[1, 1, 2, 3]
[1, 2, 1, 2, 3]
[1, 2, 1, 2]
[]
[1, 2] 3
[1] 2

In [109]:
### 검색

a = [1, 2, 3, 4, 5]

print(a.index(4))
#print(a.index(7))
#print(a.find(4))

print(2 in a)
print(7 in a)

3
True
False

---
#### (4) tuple

* ( ) 사용
* immutable

In [112]:
a = ('a', 'b', 'c', 'd')
print(a)
print(type(a))
print(len(a))
print(a.count('c'))
print(a.index('b'))

('a', 'b', 'c', 'd')
<class 'tuple'>
4
1
1

In [115]:
# a[1] = 10
b = list(a)
b[1] = 10
print(b)

c = tuple(b)
print(c)

['a', 10, 'c', 'd']
('a', 10, 'c', 'd')

In [117]:
# packing과 unpacking

a = 10, 20, 30
print(a)

a1, a2, a3 = a
print(a1, a2, a3)

(10, 20, 30)
10 20 30

---
#### (5) dict (dictionary)

* 순서가 없다.
* {키 : 값}
* 키를 이용해서 값을 조회

In [2]:
a = {"name":"홍길동", "tel":"111-1111", "age":25}
print(a)
print(type(a))

{'name': '홍길동', 'tel': '111-1111', 'age': 25}
<class 'dict'>

In [5]:
print(a["name"], a["tel"], a["age"])

홍길동 111-1111 25

In [8]:
print(a.keys())
print(a.values())
print(a.items())

dict_keys(['name', 'tel', 'age'])
dict_values(['홍길동', '111-1111', 25])
dict_items([('name', '홍길동'), ('tel', '111-1111'), ('age', 25)])

In [14]:
b = a.items()
print(type(b))

c = list(a.items())
print(c)
print(type(c))
print(c[0], c[0][0])

<class 'dict_items'>
[('name', '홍길동'), ('tel', '111-1111'), ('age', 25)]
<class 'list'>
('name', '홍길동') name

In [15]:
# 수정
a["name"] = "임꺽정"
print(a)

{'name': '임꺽정', 'tel': '111-1111', 'age': 25}

In [16]:
# 추가
a["hobby"] = ["낚시", "여행"]
print(a)

{'name': '임꺽정', 'tel': '111-1111', 'age': 25, 'hobby': ['낚시', '여행']}

In [17]:
# 삭제
del a["tel"]
print(a)

{'name': '임꺽정', 'age': 25, 'hobby': ['낚시', '여행']}

In [18]:
a.clear()
print(a)

{}

In [22]:
# 데이터 가져오기 : get("키", default)
a = {"name":"홍길동", "tel":"111-1111", "age":25}
print(a["name"])
print(a.get("name"))

print(a.get("hobby", "독서"))

홍길동
홍길동
독서

---
#### (6) set

* {} 사용
* 순서가 없다.
* 중복 불가

In [27]:
a = {1, 2, 3, 4, 2, 4}
print(a)
print(type(a))

{1, 2, 3, 4}
<class 'set'>

In [26]:
# print(a[0])
b = list(a)
print(b[0])

1

In [29]:
### 연산

s1 = {1, 2, 3, 4, 5, 6}
s2 = {4, 5, 6, 7, 8, 9}

# 합집합
print(s1.union(s2))

# 교집합
print(s1.intersection(s2))

# 차집합
print(s1.difference(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{1, 2, 3}

In [35]:
### 관련 함수

# 여러 개 추가
s1.update({7, 8})
print(s1)

# 한 개 추가
s1.add(9)
print(s1)

# 삭제
s1.remove(9)
print(s1)

s1.discard(8)
print(s1)

# s1.remove(9)
s1.discard(8)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 9, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7}

In [37]:
# 중복된 데이터를 제거하고 재구성
a = [1, 2, 3, 4, 4, 5, 2]

b = set(a)
print(b)

a = list(b)
print(a)

{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]

---
## 4. Operator

    1) 산술 연산자
        *  /  +  -  %(나머지)  //(몫)  **
        
    2) 비교 연산자
        >  <  >=  <=  ==  !=
        
    3) 논리 연산자(단락회로 연산자)
        and   or  not(단항, toggle)
        
        x    y    x and y   x or y  not x     x^y
        -------------------------------------------
        T    T       T        T       F        F
        T    F       F        T       F        T
        F    T       F        T       T        T
        F    F       F        F       T        F
        
    4) 대입(치환, 할당) 연산자
        =  +=  -=  *=  /=  ...
        
    =====================================================
    
    5) 포함 여부 연산자
        in,  not in
        
    6) 비트 연산자
        &(and)  |(or)  ^(xor)  ~  >>  << ...

In [39]:
### 대입 연산자

a = 1
a = 5
a = 3
print(a)

b = 1
b += 5   # b = b + 5
b += 3   # b = b + 3
print(b)

3
9

In [48]:
### 비트 연산자

a = 7>3 and 3>5
print(a)

b = 7>3 & 3>5
print(b)

c = 7 & 3
print(c)

False
False
3

In [50]:
data = 648723
key = 34984532

encode = data ^ key
print(encode)


decode = encode ^ key
print(decode)

35402823
648723