In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import matplotlib.font_manager as fm
font_name = fm.FontProperties(fname="C:/Windows/Fonts/malgun.ttf").get_name()
plt.rc("font", family=font_name)

import matplotlib as mlp
mlp.rcParams["axes.unicode_minus"] = False

import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

import urllib.request as req
from urllib.request import urlopen
from urllib.error import HTTPError, URLError
import urllib.parse
from bs4 import BeautifulSoup
import requests
from selenium import webdriver

# 셀프 주유소는 과연 저렴한가?

+ 실제 셀프 주유소가 저렴한지에 대한 팩트 체크
+ 가장 싼 주유소는 어디인가?
+ http://www.opinet.co.kr

### 1. 서울시 구별 주유소 가격 정보 가져오기

#### 1) Sample Code

In [2]:
##### 원격 제어창 실행

driver = webdriver.Chrome("C:/netsong7/download/chromedriver_win32/chromedriver")
driver.get("https://www.opinet.co.kr/searRgSelect.do")

In [10]:
##### 시 목록 가져오기

si_list_raw = driver.find_element_by_xpath("""//*[@id="SIDO_NM0"]""")
si_list = si_list_raw.find_elements_by_tag_name("option")
si_list
si_list[1].get_attribute("value")

si_names = [option.get_attribute("value") for option in si_list]
si_names.remove("")
si_names

['서울특별시',
 '부산광역시',
 '대구광역시',
 '인천광역시',
 '광주광역시',
 '대전광역시',
 '울산광역시',
 '세종특별자치시',
 '경기도',
 '강원도',
 '충청북도',
 '충청남도',
 '전라북도',
 '전라남도',
 '경상북도',
 '경상남도',
 '제주특별자치도']

In [16]:
##### 시 선택하기

element = driver.find_element_by_id("SIDO_NM0")
element.send_keys(si_names[0])

In [24]:
##### 구 목록 가져오기

gu_list_raw = driver.find_element_by_xpath("""//*[@id="SIGUNGU_NM0"]""")
gu_list = gu_list_raw.find_elements_by_tag_name("option")
gu_list
gu_list[1].get_attribute("value")

gu_names = [option.get_attribute("value") for option in gu_list]
gu_names.remove("")
gu_names

['강남구',
 '강동구',
 '강북구',
 '강서구',
 '관악구',
 '광진구',
 '구로구',
 '금천구',
 '노원구',
 '도봉구',
 '동대문구',
 '동작구',
 '마포구',
 '서대문구',
 '서초구',
 '성동구',
 '성북구',
 '송파구',
 '양천구',
 '영등포구',
 '용산구',
 '은평구',
 '종로구',
 '중구',
 '중랑구']

In [28]:
##### 구 선택하기

element = driver.find_element_by_id("SIGUNGU_NM0")
element.send_keys(gu_names[5])

In [ ]:
##### 조회 버튼 누르기

search = """//*[@id="searRgSelect"]/span"""
driver.find_element_by_xpath(search).click()

In [29]:
##### 엑셀 저장버튼 누르기

excel = """//*[@id="glopopd_excel"]/span"""
driver.find_element_by_xpath(excel).click()

#### 2) 지역별(구 별)로 주유소 정보를 엑셀파일로 저장

In [31]:
from tqdm import tqdm_notebook
import time

In [32]:
for gu in tqdm_notebook(gu_names):
    element = driver.find_element_by_id("SIGUNGU_NM0")
    element.send_keys(gu)
    
    time.sleep(1)
    
    search = """//*[@id="searRgSelect"]/span"""
    driver.find_element_by_xpath(search).click()
    
    time.sleep(1)
    
    excel = """//*[@id="glopopd_excel"]/span"""
    driver.find_element_by_xpath(excel).click()
    
    time.sleep(1)
    
driver.close()

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=25.0), HTML(value='')))

### 2. Data Preprocessing

#### 1) 저장된 엑셀 파일 불러오기

In [33]:
from glob import glob

In [35]:
station_files = glob("data/oil/지역*.xls")
station_files

tmp_raw = []
for fname in station_files:
    tmp = pd.read_excel(fname, header=2)
    tmp_raw.append(tmp)

In [37]:
len(tmp_raw)

25

In [39]:
##### 데이터 프레임으로 합치기

station_raw = pd.concat(tmp_raw)
station_raw.head()
station_raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 486 entries, 0 to 38
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      486 non-null    object
 1   상호      486 non-null    object
 2   주소      486 non-null    object
 3   상표      486 non-null    object
 4   전화번호    486 non-null    object
 5   셀프여부    486 non-null    object
 6   고급휘발유   486 non-null    object
 7   휘발유     486 non-null    object
 8   경유      486 non-null    object
 9   실내등유    486 non-null    object
dtypes: object(10)
memory usage: 41.8+ KB

In [40]:
stations = pd.DataFrame({"Oil_store":station_raw["상호"],
             "주소":station_raw["주소"],
             "가격":station_raw["휘발유"],
             "셀프":station_raw["셀프여부"],
             "상표":station_raw["상표"]})

stations.head()

              Oil_store                            주소    가격 셀프      상표
0  재건에너지 재정제2주유소 고속셀프지점  서울특별시 강동구  천호대로 1246 (둔촌제2동)  1549  Y  현대오일뱅크
1                구천면주유소         서울 강동구 구천면로 357 (암사동)  1603  N  현대오일뱅크
2        지에스칼텍스㈜ 동서울주유소        서울 강동구 천호대로 1456 (상일동)  1635  Y   GS칼텍스
3     현대오일뱅크㈜직영 명일셀프주유소          서울 강동구 고덕로 168 (명일동)  1635  Y  현대오일뱅크
4       대성석유(주)직영 길동주유소              서울 강동구 천호대로 1168  1638  N   GS칼텍스

In [41]:
##### 구 컬럼 추출

stations["구"] = [addr.split()[1] for addr in stations["주소"]]
stations.head()

              Oil_store                            주소    가격 셀프      상표    구
0  재건에너지 재정제2주유소 고속셀프지점  서울특별시 강동구  천호대로 1246 (둔촌제2동)  1549  Y  현대오일뱅크  강동구
1                구천면주유소         서울 강동구 구천면로 357 (암사동)  1603  N  현대오일뱅크  강동구
2        지에스칼텍스㈜ 동서울주유소        서울 강동구 천호대로 1456 (상일동)  1635  Y   GS칼텍스  강동구
3     현대오일뱅크㈜직영 명일셀프주유소          서울 강동구 고덕로 168 (명일동)  1635  Y  현대오일뱅크  강동구
4       대성석유(주)직영 길동주유소              서울 강동구 천호대로 1168  1638  N   GS칼텍스  강동구

In [45]:
print(stations["구"].unique())
print(len(stations["구"].unique()))

['강동구' '동대문구' '동작구' '마포구' '서대문구' '서초구' '성동구' '성북구' '송파구' '양천구' '영등포구'
 '강북구' '용산구' '은평구' '종로구' '중구' '중랑구' '강서구' '관악구' '광진구' '구로구' '금천구' '노원구'
 '도봉구' '강남구']
25

In [48]:
stations["가격"].unique()

stations[stations["가격"] == "-"]

stations = stations[stations["가격"] != "-"]

In [51]:
stations.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 474 entries, 0 to 36
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Oil_store  474 non-null    object
 1   주소         474 non-null    object
 2   가격         474 non-null    object
 3   셀프         474 non-null    object
 4   상표         474 non-null    object
 5   구          474 non-null    object
dtypes: object(6)
memory usage: 25.9+ KB

In [52]:
stations["가격"] = [float(val) for val in stations["가격"]]
stations.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 474 entries, 0 to 36
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Oil_store  474 non-null    object
 1   주소         474 non-null    object
 2   가격         474 non-null    float64
 3   셀프         474 non-null    object
 4   상표         474 non-null    object
 5   구          474 non-null    object
dtypes: float64(1), object(5)
memory usage: 25.9+ KB

In [54]:
stations.head()

              Oil_store                            주소      가격 셀프      상표    구
0  재건에너지 재정제2주유소 고속셀프지점  서울특별시 강동구  천호대로 1246 (둔촌제2동)  1549.0  Y  현대오일뱅크  강동구
1                구천면주유소         서울 강동구 구천면로 357 (암사동)  1603.0  N  현대오일뱅크  강동구
2        지에스칼텍스㈜ 동서울주유소        서울 강동구 천호대로 1456 (상일동)  1635.0  Y   GS칼텍스  강동구
3     현대오일뱅크㈜직영 명일셀프주유소          서울 강동구 고덕로 168 (명일동)  1635.0  Y  현대오일뱅크  강동구
4       대성석유(주)직영 길동주유소              서울 강동구 천호대로 1168  1638.0  N   GS칼텍스  강동구

In [60]:
##### 인덱스 조정

stations.reset_index(inplace=True)

In [61]:
stations

,index,Oil_store,주소,가격,셀프,상표,구
0,0,재건에너지 재정제2주유소 고속셀프지점,서울특별시 강동구 천호대로 1246 (둔촌제2동),1549.0,Y,현대오일뱅크,강동구
1,1,구천면주유소,서울 강동구 구천면로 357 (암사동),1603.0,N,현대오일뱅크,강동구
2,2,지에스칼텍스㈜ 동서울주유소,서울 강동구 천호대로 1456 (상일동),1635.0,Y,GS칼텍스,강동구
3,3,현대오일뱅크㈜직영 명일셀프주유소,서울 강동구 고덕로 168 (명일동),1635.0,Y,현대오일뱅크,강동구
4,4,대성석유(주)직영 길동주유소,서울 강동구 천호대로 1168,1638.0,N,GS칼텍스,강동구
...,...,...,...,...,...,...,...
469,32,경원주유소,서울 강남구 도산대로 428 (청담동),2056.0,N,S-OIL,강남구
470,33,(주)소모에너지엔테크놀러지 쎈트럴주유소,서울 강남구 삼성로 335,2068.0,N,GS칼텍스,강남구
471,34,학여울주유소,서울 강남구 남부순환로 3170 (일원2동),2069.0,N,GS칼텍스,강남구
472,35,(주)만정에너지,서울 강남구 봉은사로 433 (삼성동),2113.0,N,GS칼텍스,강남구
473,36,뉴서울(강남),서울 강남구 언주로 716,2195.0,N,SK에너지,강남구

In [62]:
del stations["index"]

In [64]:
stations

,Oil_store,주소,가격,셀프,상표,구
0,재건에너지 재정제2주유소 고속셀프지점,서울특별시 강동구 천호대로 1246 (둔촌제2동),1549.0,Y,현대오일뱅크,강동구
1,구천면주유소,서울 강동구 구천면로 357 (암사동),1603.0,N,현대오일뱅크,강동구
2,지에스칼텍스㈜ 동서울주유소,서울 강동구 천호대로 1456 (상일동),1635.0,Y,GS칼텍스,강동구
3,현대오일뱅크㈜직영 명일셀프주유소,서울 강동구 고덕로 168 (명일동),1635.0,Y,현대오일뱅크,강동구
4,대성석유(주)직영 길동주유소,서울 강동구 천호대로 1168,1638.0,N,GS칼텍스,강동구
...,...,...,...,...,...,...
469,경원주유소,서울 강남구 도산대로 428 (청담동),2056.0,N,S-OIL,강남구
470,(주)소모에너지엔테크놀러지 쎈트럴주유소,서울 강남구 삼성로 335,2068.0,N,GS칼텍스,강남구
471,학여울주유소,서울 강남구 남부순환로 3170 (일원2동),2069.0,N,GS칼텍스,강남구
472,(주)만정에너지,서울 강남구 봉은사로 433 (삼성동),2113.0,N,GS칼텍스,강남구
473,뉴서울(강남),서울 강남구 언주로 716,2195.0,N,SK에너지,강남구

### 3. EDA